# KAS (Kernel Automation System) configuration for Edge AI Yocto build
# Minimal container-focused image for Jetson Orin Nano
# See: https://kas.readthedocs.io/

header:
  version: 15

machine: jetson-orin-nano-devkit-nvme
distro: poky

target:
  - edge-ai-image

repos:
  poky:
    url: git://git.yoctoproject.org/poky
    branch: scarthgap
    layers:
      meta:
      meta-poky:
      meta-yocto-bsp:

  meta-openembedded:
    url: https://github.com/openembedded/meta-openembedded.git
    branch: scarthgap
    layers:
      meta-oe:
      meta-python:
      meta-networking:
      meta-multimedia:
      meta-filesystems:

  meta-security:
    url: https://git.yoctoproject.org/meta-security
    branch: scarthgap
    layers:
      .:

  meta-tegra:
    url: https://github.com/OE4T/meta-tegra.git
    branch: scarthgap
    layers:
      .:

  meta-virtualization:
    url: https://git.yoctoproject.org/meta-virtualization
    branch: scarthgap
    layers:
      .:

  meta-edge-secure:
    path: ../edge-ai/firmware/yocto/meta-edge-secure
    layers:
      .:

local_conf_header:

  tegra-config: |
    IMAGE_CLASSES += "image_types_tegra"
    IMAGE_FSTYPES = "tegraflash"

    BB_NUMBER_THREADS = "8"
    PARALLEL_MAKE = "-j8"

  container-runtime: |
    DISTRO_FEATURES:append = " virtualization systemd usrmerge"
    DISTRO_FEATURES_BACKFILL_CONSIDERED:append = " sysvinit"
    VIRTUAL-RUNTIME_init_manager = "systemd"
    VIRTUAL-RUNTIME_initscripts = ""

    # Use native systemd units instead of SysV init scripts
    PACKAGECONFIG:append:pn-docker = " systemd"
    PACKAGECONFIG:remove:pn-docker = " sysvinit"
    PACKAGECONFIG:append:pn-openssh = " systemd"

    # NVIDIA Container Toolkit - required for GPU containers (DeepStream, etc)
    IMAGE_INSTALL:append = " nvidia-container-toolkit"

  network-config: |
    # NetworkManager for reliable networking
    PACKAGECONFIG:append:pn-networkmanager = " modemmanager ppp systemd"

    # Enable resolved for DNS
    PACKAGECONFIG:append:pn-systemd = " resolved"

  security-config: |
    # Secure boot preparation (placeholder - keys added during signing)
    # TEGRA_SIGNING_KEY will be set via environment for secure builds
    # For now, build unsigned images

bblayers_conf_header:
  layers-config: |
